 
 
      
<div class="container-fluid tienda-title register-container nav-wrapper" id="register-container">
  <div class="row">
      <div class="col-11 col-md-8 col-lg-5 col-xl-5 mr-auto ml-auto" id="register-card">
      
 
         <h2 class="text-center">Olvidé mi contraseña</h2>
        <form method="POST"> {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" name="email_user" placeholder="usuario@tuganas.cl">
            <small>Ingrese su email registrado para camiar su contraseña</small>
          </div>
          <button type="submit" class="btn purple-btn ml-auto mr-auto" name="">Cambiar Contraseña</button>
        </form>
 
      </div>
  </div>
</div>       
  
 

 


