{% extends "baseDashboard.html" %}
{% load staticfiles %} 
{% block titlepage %}
    Panel Dashboard
{% endblock titlepage %}
{% block breadcrumpage %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'indexDashboard' %}">Dashboard</a></li>    
{% endblock breadcrumpage %}
{% block bodycontent %}

<div class="card">
            <div class="card-body">
              <h4 class="card-title">
              </h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
                      <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>TIpo</th>
                            <th>Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for user  in list_users %}
                          <tr>
                              <td>{{user.first_name|upper}} {{user.last_name|upper}}</td>
                              <td>{{user.username}}</td>
                              <td>{{user.email}}</td>
                              <td>
                                {% if user.is_staff %}
                                  <span class="label label-default">Administrador</span>
                                {% elif user.type_user == 0 %}
                                  <span class="label label-info">Normal</span>
                                {% elif user.type_user == 1 %}
                                  <span class="label label-primary">Facebook</span>
                                {% endif %}
                              </td>
                              <td>
                                  <a href="{% url 'updateUserDashboard' user.id %}">
                                      <button class="btn btn-warning">Editar</button>
                                  </a>
                                 
                              </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

{% endblock bodycontent %}