{% extends "baseDashboard.html" %}
{% load staticfiles %} 
{% block titlepage %}
    Panel Dashboard
{% endblock titlepage %}
{% block breadcrumpage %}
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'indexDashboard' %}">Dashboard</a></li>    
{% endblock breadcrumpage %}
{% block bodycontent %}
   <div class="row">
      <div class="col-md-8 offset-2 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          
          <form class="forms-sample" method="POST"> {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputUsername1">Nombre</label>
              {{form.first_name}}
            </div>
          
            <div class="form-group">
              <label for="exampleInputUsername1">Apellido</label>
              {{form.last_name}}
            </div>

            <div class="form-group">
              <label for="exampleInputUsername1">Rut</label>
              {{form.rut}}
            </div>

            <div class="form-group">
              <label for="exampleInputUsername1">Email</label>
              {{form.email}}
            </div>

            <div class="form-group">
              <label for="exampleInputUsername1">Tipo</label>
              {{form.type_user}}
            </div>
            <button type="submit" class="btn btn-block btn-primary mr-2">Actualizar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock bodycontent %}