{% extends "baseDashboard.html" %}
{% block titlepage %}
    APPEGO - Ver un usuario
{% endblock titlepage %}
  {% block bodycontent %}
    <header class="panel-heading">
      Ver un usuario
      <span class="tools pull-right">
      <a href="javascript:;" class="fa fa-chevron-down"></a>
      </span>
    </header>
    <div class="panel-body">
      <form method="POST" class="form-horizontal" enctype="multipart/form-data" >{% csrf_token %}
        <div class="form-group">
                    <label for="id_name" class="col-lg-2 col-sm-2 control-label"><strong>Nombre</strong></label>
                    <div class="col-lg-10">
                        <p class="field_view_task">{{user.first_name}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_name" class="col-lg-2 col-sm-2 control-label"><strong>Apellido</strong></label>
                    <div class="col-lg-10">
                       <p class="field_view_task">{{user.last_name}}</p>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="id_name" class="col-lg-2 col-sm-2 control-label"><strong>Usuario</strong></label>
                    <div class="col-lg-10">
                       <p class="field_view_task">{{user.username}}</p>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="id_name" class="col-lg-2 col-sm-2 control-label"><strong>Email</strong></label>
                    <div class="col-lg-10">
                       <p class="field_view_task">{{user.email}}</p>
                    </div>
                </div>
                  <div class="form-group">
                    <label for="id_name" class="col-lg-2 col-sm-2 control-label"><strong>Tipo de Usuario</strong></label>
                    <div class="col-lg-10">
                       <p class="field_view_task">{% if user.type_user == 2 %}
                            Administrador
                          {% elif user.type_user == 1 %}
                            Supervisor
                          {% elif user.type_user == 0 %}
                            Conductor
                          {% endif %}</p>
                    </div>
                </div>

                 
      </form>
    </div>
  {% endblock bodycontent %}